[2014-08-22 20:31] Mahmoudz opened #1 "Directory Reader"
1. read configurations.
2. read all the files from multiple directories (specified in the array in the config file)
3. exclude directories, files, extensions and patterns while reading directories.
4. return an array of files full path of each included directory.

[2014-08-22 20:32] Mahmoudz opened #2 "Path to url converter"
1. converts allowed files full path into URL after merging with the cdn url and the bucket name
2. return a multidimensional array with each ‘file path’ and it’s ‘cdn url’

[2014-08-22 20:34] Mahmoudz opened #3 "Cdn uploader"
1. use the AWS S3 SDK to upload files to the bucket

[2014-08-29 01:30] #1 closed, assigned to nobody

[2014-09-04 10:23] #2 closed, assigned to nobody

[2014-09-04 10:23] #3 closed, assigned to nobody

[2014-09-04 10:24] Mulkave opened #6 "Get rid of the separation b/w protocol scheme and host"
No need to have this kind of config for URLs:

[code]

Let's keep it simple and use one `url` or `host` etc.

[2014-09-04 10:26] Mulkave opened #7 "Describe what upload threshold is"
The provided description is not sufficient to know what it means

[code]

Here's a small hint: _Specify how many files to be uploaded concurrently, default is 10 if not specified or 0._

[2014-09-04 11:00] Mulkave opened #8 "Installation issue"
Laravel 4.\* requires symfony 2.5.\* and this package requires 2.6.\* which creates a conflict that blocks composer from installing/updating.

A solution would be to require symfony 2.5.\* until 2.6.\* are supported in laravel, maybe 4.3 ?!

[2014-09-04 12:44] Mulkave opened #9 "Are directories relative or absolute ?"
The directories we specify in the config

[2014-09-04 12:47] Mulkave opened #10 "Improve output - handle missing credentials"
Tried uploading with `php artisan cdn:push` without specifying S3 credentials, the output was:

[code]

[2014-09-05 08:48] #9 closed, assigned to Mahmoudz

[2014-09-05 08:54] #8 closed, assigned to Mahmoudz

[2014-09-05 09:18] #7 closed, assigned to Mahmoudz

[2014-09-05 13:00] Mulkave opened #14 "upload isn't working when excludes are empty"
When nothing is excluded the upload doesn't work.

[2014-09-08 09:35] #14 closed, assigned to Mahmoudz

[2014-09-08 09:35] #10 closed, assigned to Mahmoudz

[2014-09-08 09:40] #6 closed, assigned to Mahmoudz

[2014-09-19 13:54] Mahmoudz opened #19 "add confirmation before start uploading"
How to delete this!!

[2014-09-22 11:47] Mahmoudz opened #22 "add option to make loading from locahost optional"
add a new config option to allow user to choose whether to use CDN assets or locahost assets.

[2014-09-22 11:50] Mahmoudz opened #23 "add question break point before uploading the files"
In order to allow user to review the files selected for upload before the uploading starts, add a question in the terminal (continue?) after reading files in dir but before the upload starts.

[2014-09-22 11:51] #19 closed, assigned to Mahmoudz

[2014-09-22 15:31] Mahmoudz opened #25 "multiple buckets"
allow upload of assets to multiple buckets

[2014-09-23 10:58] Mulkave opened #26 "Diff Before Upload"
The script should be able to distinguish the files that have changed and only upload those, leaving unchanged files.

[2014-09-23 11:00] Mulkave opened #27 "If bucket is empty the URL is invalid"
When the bucket is empty we get something like: _http://.s3.amazonaws.com_ (mark the dot at the beginning of the URL).

[2014-09-23 11:01] Mulkave opened #28 "Try changing the CORS permission of the bucket"
Let's have this to be optional (default true) since it is required only for loading cross-origin assets.

[2014-09-23 11:32] Mulkave opened #29 "Negotiate credentials ahead of reaching or reading uploads"
Throwing a well formatted error when the issue is about credentials.

[2014-09-24 11:40] #27 closed, assigned to Mahmoudz

[2014-10-13 15:26] #22 closed, assigned to nobody

[2015-02-24 19:21] ebrigham1 opened #35 "Bug with s3 assets over https"
https://github.com/Vinelab/cdn/blob/master/src/Vinelab/Cdn/Providers/AwsS3Provider.php#L233

I think this would work more universally with host first and bucket after as aws s3 will get ssl certificate errors when attempting to serve over https for custom bucket domains, possibly only when they have dots (.) in them.

ex:
https://s3.amazonaws.com/s3.hotrodhotline.com/ui/0/97/vZRlctTIE5.jpg

vs

ht

[2015-04-10 04:02] khelll opened #37 "Can you support caching headers?"
We need to setup caching headers upon upload. This helps optimizing the browser requests.

[2015-04-14 13:22] kevdotbadger opened #38 "Using with elixir's "version" facade?"
Is this possible? To use gulp to create a versioned assets (css,js,etc) and then upload and push to to Amazon AWS or something?

[2015-04-26 14:16] olimorris commented on #38
I just do:

``
{{ Cdn::Asset(elixir('css/all.css')) }}
[code]

[2015-04-26 17:27] olimorris opened #40 "Issues with bypass set to true when working locally"
When 'bypass' is set to true I notice that visiting pages deep within my website, do not display the assets. For example, visiting ```http://myapp.dev/``` will load assets fine. However if I visit ```http://myapp.dev/messages/show/15``` then as the asset is not absolute, they don't display.

Looking at how Laravel's ```Url::asset()``` feature works it appears that an absolute url is always generat

[2015-05-05 06:15] RajeshHegde commented on #40
Is this issue is fixed in the latest version.?

[2015-05-21 12:09] RajeshHegde commented on #37
Checkout  this pull request https://github.com/Vinelab/cdn/pull/42. I have added caching header configurations.

[2015-05-22 05:42] RajeshHegde opened #46 "Not able to run phpunit"
I'm have done some modification to support caching support. But Travis test fails because of the following reason:

PHP Fatal error:  Cannot redeclare any() (previously declared in /home/travis/build/Vinelab/cdn/vendor/hamcrest/hamcrest-php/hamcrest/Hamcrest.php:395) in /home/travis/build/Vinelab/cdn/vendor/phpunit/phpunit/src/Framework/Assert/Functions.php on line 59

If you are also getting simi

[2015-05-22 14:49] Mahmoudz commented on #46
@RajeshHegde yes that's true, sorry for the delay, I didn't have time previously to check on this package.
I was checking this error today, and I found out that this is caused by the update of `mockery/mockery` from `0.9.3` to `0.9.4` is it requires the `hamcrest/hamcrest-php 1.2.2` which causes this error.
I havn’t tried to debug it now for the mean time I just required the version `0.9.3` of moc

[2015-05-22 23:18] #46 closed

[2015-05-22 23:19] Mahmoudz commented on #40
@RajeshHegde it should be fixed by the latest release.

[2015-05-22 23:19] #40 closed

[2015-05-24 05:07] hiddenl00p opened #54 "I am getting below exception on composer update after adding vinelab?"
[RuntimeException]
  Could not scan for classes inside "/home/vagrant/code/dev/vendor/vinelab/cdn/tests/TestCase.php" which does not appear to be a file nor a f
  older

[2015-05-24 12:16] olimorris commented on #54
Yes I'm getting this too!
[code]
When you install the package. The 'tests' directory is not included with it which is causing the error.

Guys - This is a breaking issue!

[2015-05-24 21:28] Mahmoudz commented on #54
Fix in #621adbb0bcedd02c8f3b2ea3b122b4a9ecb31011
I update the git attributes config file to keep the /tests directory when export-ignore is used with git.
The `.gitattributes` file is telling git to ignore the `/tests` directory when downloading the package via composer in your project. Since the `/test` directory is autoloaded by the `composer.josn` file it is causing this RuntimeException.

[2015-05-24 21:28] #54 closed

[2015-05-25 12:50] hiddenl00p opened #56 "Exception on using cloudfront"
I am getting below exception on trying to configure cloudfront.

'cloudfront' => [
                    'use'       => true,
                    'cdn_url'   => 'XYZ.cloudfront.net',
                    'version'   => '',
                ],

ErrorException in AwsS3Provider.php line 258:
Undefined index: scheme (View: /home/vagrant/code/xyz-dev/resources/views/layouts/application.blade.php) (View: /h

[2015-05-25 21:07] olimorris commented on #56
That seems odd. Can you show me what's on line 258. Also, my Cloudfront URL is entered with ```https://```. Try that.

[2015-05-25 21:52] olimorris opened #57 "Issue with using Laravel Elixir and $path in CdnFacade.php"
I've noticed a strange error using Laravel Elixir in v1.1.2.

On my production website, when I reference my CSS file in Elixir like so:
[code]
I get the following error:
[code]
I've deduced it's because of the ```/``` in the following code in the CdnFacade.php file:
[code]

[2015-05-25 22:53] Mahmoudz commented on #57
SHA 97a3cfd586b922469353696c0f2ac70ec97441a6

[2015-05-25 22:53] #57 closed

[2015-05-27 00:09] #37 closed

[2015-05-27 00:09] #38 closed

[2015-05-27 04:52] RajeshHegde opened #60 "Version config should be global"
Now version config is in CloudFront scope, this should be globalised. I have the changes with me, I will send a pull request for this.

[2015-05-27 11:30] Mahmoudz commented on #60
@RajeshHegde would be awesome, waiting your pull request. Cheers.

[2015-05-28 09:12] RajeshHegde commented on #60
Sent pull request  #62

[2015-05-31 23:52] hiddenl00p commented on #56
Thanks that worked for me. I forgot to update here.

[2015-06-01 00:01] #60 closed

[2015-06-05 21:51] CodyLee117 opened #63 "[Aws\S3\Exception\PermanentRedirectException]"
I'm getting this exceptions when trying a cdn:push.

  [Aws\S3\Exception\PermanentRedirectException]
  The bucket you are attempting to access must be addressed using the specified endpoint. Please send all future requests to this endpoint: "my.bucket.name.s3.amazonaws.com".

It seems like it might be because my bucket name has a period in it because I didn't have any issues until I renamed the bu

[2015-06-12 22:41] azcoppen opened #66 "Laravel 5.1 Support"
Installation fails with Laravel 5.1, as "illuminate/support": "5.0.*" dependency needs to be 5.1.

[2015-06-14 13:02] olimorris commented on #66
Hi - I've submitted a pull request (#65) and just waiting for the guys to merge and tag.

[2015-06-14 17:36] azcoppen commented on #66
@olimorris Nice job. Only problem left i can see is the AWS issue you mentioned. File Storage requires v3, whereas the dependency is still at ~2.x. Going to be fun getting around that one.

[2015-06-14 18:28] olimorris commented on #66
We should still be okay: http://laravel.com/docs/5.1/upgrade#upgrade-5.1.0

It looks like AWS v3.0 is only need for people who use the AWS Queue or Email driver. Admittedly this does need to get built into the package at sometime.

[2015-06-15 13:39] #66 closed

[2015-06-15 21:35] azcoppen commented on #66
I'm unfortunately getting this now when specifying v3 as per 5.1 storage spec: "CDN provider (aws.s3) is not supported"

[2015-06-15 21:58] azcoppen opened #67 "Laravel 5.1 functions require AWS v3 & Guzzle v5"
As per upgrade info: http://laravel.com/docs/5.1/upgrade

"If you are using the AWS SQS queue driver or the AWS SES e-mail driver, you should update your installed AWS PHP SDK to version 3.0. If you are using the Amazon S3 filesystem driver, you will need to update the corresponding Flysystem package via Composer: Amazon S3: league/flysystem-aws-s3-v3 ~1.0"

Guzzle 5 is required for mail, etc.

In

[2015-06-15 22:48] olimorris commented on #66
I don't think the guys have tagged my patch yet so I can't recreate this. I'll see what the change in AWS v3 is and work on a fix

[2015-06-16 07:27] Mulkave commented on #66
Sorry, tagged as [v1.1.6](https://github.com/Vinelab/cdn/releases/tag/v1.1.6) now. @azcoppen please try again and let us know.

[2015-06-16 10:28] MezaTech opened #68 "dependency guzzlehttp version conflict"
could you update composer.json to use version  6.*  ? , cause some of other package dependencies

    - Can only install one of: guzzlehttp/guzzle[6.0.0, 5.3.x-dev].
    - Can only install one of: guzzlehttp/guzzle[6.0.1, 5.3.x-dev].
    - Can only install one of: guzzlehttp/guzzle[6.0.x-dev, 5.3.x-dev].
    - vinelab/cdn dev-master requires guzzlehttp/guzzle ~5.3 -> satisfiable by guzzlehttp/guzz

[2015-06-16 20:09] olimorris commented on #67
I had no issues with v1.1.6. Have you tried installing that?

[2015-06-16 20:09] olimorris commented on #68
I've just done a pull request for this.

[2015-06-17 03:48] azcoppen commented on #67
Using "vinelab/cdn": "*" in composer as suggested, which should load 1.1.16: https://packagist.org/packages/vinelab/cdn

[2015-06-17 05:24] olimorris commented on #67
I've made another pull request to include updated Guzzle and AWS drivers which will form v1.1.17

[2015-06-17 09:57] Mulkave commented on #68
resolved in #69 thanks @olimorris

[2015-06-17 09:57] #68 closed

[2015-06-17 09:57] Mulkave commented on #67
resolved in #69 thanks @olimorris

[2015-06-17 09:57] #67 closed

[2015-06-19 21:37] olimorris commented on #68
Can we tag the #69 in v1.1.7 as it resolves all issues but we need to tell people to use v3 of Flysystem AWS-S3 as opposed to v2

[2015-06-24 11:01] MezaTech opened #70 "Guzzle problem"
i have this error every time i am trying to push to CDN

[Guzzle\Common\Exception\InvalidArgumentException]
  All items must implement Guzzle\Service\Command\CommandInterface

[2015-06-24 20:54] MezaTech opened #71 "Region and Version required"
could you add Region and version to connect function and check compatibility with Guzzle

Config example :
  // Instantiate an S3 client
            $this->setS3Client(
                new S3Client(array(
                        'key'     => $this->credential_key,
                        'secret'  => $this->credential_secret,
                        'region'  => $this->region,

[2015-06-27 00:43] olimorris commented on #71
I've fixed this in #72 but the tests need addressing before it can be merged.

[2015-06-27 00:43] olimorris commented on #70
This should be fixed in #72 .

[2015-06-27 00:44] olimorris commented on #63
This will also be fixed in #72

[2015-06-27 00:44] olimorris commented on #56
Can we close this down please @Mulkave

[2015-06-27 17:41] #71 closed

[2015-06-27 17:41] #70 closed

[2015-06-27 17:41] #63 closed

[2015-06-27 17:42] #56 closed

[2015-06-27 17:43] #35 closed

[2015-06-28 10:49] MezaTech opened #73 "SplFileInfo Error"
while using

php artisan cdn:push
after ( Uploading in progress... )
i got
[ErrorException]
  Undefined property: Symfony\Component\Finder\SplFileInfo::$getRealpath

[2015-06-28 13:25] olimorris commented on #73
I got this error in v1.1.6. This was fixed in #72 and when @Mulkave has corrected build tests this will be tagged to v1.1.7

[2015-06-28 13:33] MezaTech commented on #73
@olimorris  this error still appears in latest version which merged  yesterday , not solved till now
Thanks

[2015-06-28 17:45] olimorris commented on #73
Could you share your CDN config file settings? Difficult to know why the exception may be occuring

[2015-06-29 08:42] Mahmoudz commented on #73
@MezaTech I have created the release `v1.1.7` you can try now.

[2015-06-29 13:35] Mahmoudz commented on #73
@MezaTech This problem was solved (on release v1.2.0), please test it when you can.
Now you will get a full error details instead of this wired error if you have anything wrong with your new configurations.
If it happened and you get and error similar to this one: `AWS HTTP error: cURL error 6: Could not resolve host...` that means the `region` you are using is incorrect, so just choose another on

[2015-06-29 13:35] #73 closed

[2015-06-29 19:02] olimorris commented on #73
@Mahmoudz I suspected this was the case. Great work. This is a super package once again.

@MezaTech in future, share as much of your code as you can. Just pasting the error message doesn't help. Always share your config file as that is likely where you have edited things and introduced errors into the package yourself.

[2015-06-29 22:14] MezaTech opened #75 "Add different metadata to each directory"
current version has ability to add  Add metadata to all files in directories which added to " include " array .

but some time we need to different meta to selected files ,

example : add "ContentEncoding =>  gzip " to Styles and JS

[2015-06-30 22:41] tvillafane opened #76 "Laravel 4 support"
This looks like a great tool!  I stumbled across it on multiple forums as I was configuring my S3 bucket with Laravel and CloudFront.  I am wondering about your wording in the description of the project; when you say that the project "supports Laravel 5.1".  Does this mean that the current version doesn NOT support Laravel 4.2?  If so, should I use the 1.0.1 release?

[2015-07-01 16:06] Mahmoudz commented on #76
@tvillafane the package is really amazing.
I think `v1.0.1` was the last release supporting laravel 4.2
Can you try it and let us know if it works? In order to add it in the documentation and rename that release.
Thank you for your question.

[2015-07-01 16:10] Mahmoudz commented on #75
@olimorris since you added the support for `metadata`.. Can you please answer this.
Thanks.

[2015-07-01 22:25] olimorris commented on #75
Valid question. This can be added into the metadata array as 'Content-Encoding' => 'gzip' but it cannot yet do it for different types of files. Something to work on for v1.2.1.

@MezaTech - is there a reason why you wouldn't just gzip everything?!

[2015-07-02 00:31] tvillafane commented on #76
@Mahmoudz the package is beautiful.  It installed quite easily with Laravel 4.2 and the configuration is simple.  Very powerful piece of software.

I thank you very much for making it so easy to use.  I personally love the ability to push to S3 with a terminal command because it ensures I know exactly when the CDN will be updated and so forth.  Great work on this.

[2015-07-02 10:45] Mahmoudz commented on #76
@tvillafane we are glade you enjoy it, thank you for your wonderful feedback.

[2015-07-02 10:45] #76 closed

[2015-07-27 01:59] hiddenl00p opened #78 "ErrorException in AwsS3Provider.php line 132:"
I am getting this error on upgrade to Laravel 5.1, If I remove asset loading throught CDN its working fine.

ErrorException in AwsS3Provider.php line 132:

Undefined index: version (View: /home/vagrant/Code/lawcus-dev/resources/views/layouts/application.blade.php) (View: /home/vagrant/Code/lawcus-dev/resources/views/layouts/application.blade.php)

in AwsS3Provider.php line 132
at CompilerEngine->h

[2015-07-29 13:40] Yavor-Ivanov opened #79 "Exception while uploading "Too many files open""
I've added my Laravel public folder to be uploaded to an S3 bucket, but get this exception some time into the upload when running ```./artisan cdn:push```:
[code]

It seems like the file handles are never released when uploading.

[2015-08-01 13:11] olimorris commented on #78
What about when you set version to 'latest' in the CDN config file?

[2015-08-02 07:26] hiddenl00p commented on #78
Had the old config file. Working now. Thanks!

[2015-08-02 07:27] #78 closed

[2015-08-02 18:42] olimorris commented on #75
@MezaTech is this still an issue?

[2015-08-03 07:27] Mulkave commented on #79
If I'm not mistaken, this usually has to do with the allowed files by `php.ini`. Can you please try updating that?

[2015-08-03 20:13] olimorris commented on #79
Yes this is not an error I've come across with the AWS PHP SDK.

[2015-08-06 22:45] og6k opened #80 "multiple cdn urls"
I set up to use multiple buckets as per the example.

How do i set up multiple cdn urls from cloudfront?

In cloudfront, I can only set one origin bucket for one cloudfront url. So I have multiple buckets=multiple cloudfront urls.

[2015-08-06 22:56] og6k commented on #80
NVM. figured out that one distribution can handle multiple origins.

[2015-08-06 22:56] #80 closed

[2015-08-07 18:02] og6k opened #81 "noob help with loading url"
I installed and upload without a problem. When I call the url with
    link rel="stylesheet" href="{{ Cdn::asset('/path/to/css/all.css') }}"
The url is not being loaded. Instead it prints out the exact cdn::asset() in frontend. How can I fix this?

[2015-08-10 09:06] Mulkave commented on #81
This is probably due to the `bypass` in your configuration https://github.com/Vinelab/cdn#bypass

[2015-08-10 09:09] Mulkave commented on #79
@Yavor-Ivanov any update on this issue? Seems like it's an AWS PHP SDK issue as @olimorris mentioned.

[2015-08-10 09:31] Yavor-Ivanov commented on #79
(#79)
In-Reply-To: <Vinelab/cdn/issues/79/129374267@github.com>

I've tried using the Amazon SDK directly and get the same results when
uploading a folder a lot of files in it. I've since switched to calling the
s3cmd tool.

[2015-08-10 09:47] Mulkave commented on #79
@Yavor-Ivanov alright, thanks for the feedback. Closing since it is not a CDN issue.

[2015-08-10 09:47] #79 closed

[2015-08-10 22:45] olimorris commented on #81
Have you registered the Facade?

[2015-08-25 21:23] og6k commented on #81
I just gave up on trying and put the url manually

[2015-08-25 21:23] #81 closed

[2015-08-28 01:11] olimorris commented on #75
@Mahmoudz - I think we can close this.

[2015-08-31 08:26] #75 closed

[2015-10-28 12:47] dragosperca opened #84 "Long time to upload for lots of files"
this is not an issue per-se, but more of a request.

My use case scenario is push "/public/assets" to S3/Cloudfront. When this folder contains thousands of files (it can happen with lots of javascript packages, images, etc) the upload can take anywhere between 5 to 10 minutes. During this time, the app should be in maintenance mode and it's a killer to keep it 10 mins like this.

What if, before p

[2015-10-28 12:48] dragosperca commented on #84
err, i've seen a similar issue for this https://github.com/Vinelab/cdn/issues/26
sorry about it

[2015-12-05 05:56] codenut opened #85 "Compress option to gzip compress files."
Thank you for creating this library! Is it possible to add a compress option that will gzip compress the files that will be uploaded in S3. The use case for this is that s3 doesnt automatically compress  javascript,css,etc. assets and it would be nice this option can be added.

`'compres' => ['css', 'js']`

[2015-12-24 00:28] azcoppen opened #86 "Laravel 5.2 Support?"
Latest release requires Symfony Console 2.7, but L5.2 needs 2.8 or 3.0

    - Conclusion: don't install symfony/console v3.0.0
    - Installation request for vinelab/cdn * -> satisfiable by vinelab/cdn[v1.0.0, v1.0.1, v1.1.0, v1.1.1, v1.1.2, v1.1.3, v1.1.4, v1.1.5, v1.1.6, v1.1.7, v1.1.8, v1.2.0].
    - Conclusion: don't install laravel/framework v5.2.3
    - laravel/framework v5.2.0 requires symf

[2015-12-29 08:19] Mulkave commented on #85
@codenut do you mean to automatically gzip before uploading? And upload the compressed files? We're not talking about minification here though, right?

[2015-12-29 08:21] Mulkave commented on #84
@dragosperca no worries.

[2015-12-29 08:21] #84 closed

[2015-12-29 10:10] satish-ambab opened #89 "use cdn without upload"
Hi,

Can we use this only for displaying assets (no uploads no extra busines) just like simple cdn ?

[2015-12-30 00:47] filipegar commented on #89
Hi. I think you can try that. Host everything you need on a bucket, with same directories as in your laravel installation and enable the package. Your URLs should be replaced with s3.amazonaws.com and work as expected. The upload feature is just a quick way to achieve that.

[2015-12-30 02:42] filipegar commented on #28
I'd like to work on this issue by creating a new command line function to set the CORS configuration to the bucket. I don't think it should be a turn on/off option as we need info provided by user (domains/subdomains, http methods [that are mandatory] and allowed-headers.

Maybe add to the cdn.php config file an array with [AWS CORSConfiguration structure](https://docs.aws.amazon.com/aws-sdk-php/v

[2015-12-30 06:20] codenut commented on #85
@Mulkave yes, that is correct. Just gzip the file before uploading without minification. And also set the ContentEncoding to gzip.

Theres an implementation of it on the repository that I forked.

https://github.com/codenut/cdn/commit/204ffbbb30f249fd437e6422e2fa9e05101b2daa

Thanks!

[2016-01-06 22:18] paulocastellano commented on #86
+1

[2016-01-16 15:19] publiux commented on #86
I've created pull request #91 to address this issue.

[2016-01-17 22:54] publiux commented on #86
I have created a fork that supports Laravel 5.2 and will be actively maintained. https://github.com/publiux/laravelcdn

[2016-01-18 00:32] paulocastellano commented on #86
Thanks bro!

I will test it now, if u need any for dev/update tell me!

Bye
--
Atenciosamente,
Paulo Castellano
Software Engineer
+55 (13) 99186-1554

[2016-01-18 08:31] hiddenl00p commented on #86
+1

[2016-01-19 06:41] Mulkave commented on #85
@codenut cool! Can you please open a PR of your implementation?

[2016-01-19 06:46] Mulkave commented on #28
@filipegar sorry for the late reply, please go ahead! PRs are always welcome 😄

A separate command sounds good, though requiring the understanding of the CORSCobfiguration structure is a bit of a hassle, u less we provide a set of user-friendly methods to represent commonly used ones.

What do you think?

[2016-02-15 23:29] vovanmix commented on #86
+1, Need this a lot!

[2016-02-21 22:26] Mulkave commented on #26
Closed by #90

[2016-02-21 22:26] #26 closed

[2016-02-21 22:28] Mulkave commented on #84
@dragosperca Just a poke to tell you that this has been worked out at #90, you can try it out if you wish.

[2016-03-11 21:39] k1ng440 opened #92 "exclude does not work"
I have tried to exclude directory and patterns but they does not work

[code]
I have checked the finder.php. it seems no code was added for filtering directory.

and patterns seems to add $ in the end. ie some/path/* builds "~^(?=[^\.])some/(?=[^\.])path/(?=[^\.])*$~"

[2016-03-21 23:28] jzmwebdevelopment opened #93 "Install Issue"
Why am I getting the following issue:

[code]

[2016-04-04 16:11] azcoppen commented on #86
Is there any update on this? Can't really change packages in our app yet unfortunately.

[2016-04-04 16:16] Mulkave commented on #86
@azcoppen Just pushed an attempt for support to master (can't really test now), please require `dev-master` in your composer and give it a shot :smile:

[2016-04-04 22:56] azcoppen commented on #86
Thank you! Neither * or dev-master trigger any changes when running composer: old file specifies 2.7, and latest change is 2.*, presumably meaning the requirement is already satisfied?

[2016-04-05 09:10] Mulkave commented on #86
@azcoppen thanks, seems to work for me. Released v1.4.0 which has Laravel 5.2 compatibility. Enjoy!

[2016-04-05 09:10] #86 closed

[2016-04-05 18:23] azcoppen commented on #86
@Mulkave Apologies, i'm an idiot. Ran update without adding Laravel 5.2. Not enough coffee yesterday. Thanks for the update, champ.

[2016-04-06 07:18] Mulkave commented on #86
@azcoppen haha no worries, cheers! ☕️

[2016-06-13 13:20] simplenotezy opened #95 "Laravel 5.2 - Cant install - Conclusion: remove symfony/finder v3.0.7"
I am getting the following error when I install on a Laravel 5.2 project.

	vagrant@homestead:~/Projects/project$ composer require vinelab/cdn:dev-master
	./composer.json has been updated
	Loading composer repositories with package information
	Updating dependencies (including require-dev)
	Your requirements could not be resolved to an installable set of packages.

	  Problem 1
	    - Installation

[2016-06-22 17:22] marcaube commented on #95
Rollback to the 2.* branch.

[code]

[2016-06-22 17:35] marcaube commented on #93
See my answer on #95

[2016-06-25 07:11] #93 closed

[2016-06-25 07:11] #95 closed

[2016-06-25 21:41] crarau opened #96 "Undefined index: http in AwsS3Provider.php:140"
I'm getting the error below. Is it something that I'm doing wrong? Using the latest codebase.

production.ERROR: ErrorException: Undefined index: http in /srv/wisk/wisksol/vendor/vinelab/cdn/src/Vinelab/Cdn/Providers/AwsS3Provider.php:140
Stack trace:
#0 /srv/wisk/wisksol/vendor/vinelab/cdn/src/Vinelab/Cdn/Providers/AwsS3Provider.php(140): Illuminate\Foundation\Bootstrap\HandleExceptions->handleEr

[2016-06-27 10:50] Mulkave commented on #96
Please update to v1.4.3, attempts to solve this issue.

[2016-06-28 21:41] azcoppen commented on #96
Getting the same, and on dev branch:

ErrorException in AwsS3Provider.php line 140:
Undefined index: http

  - Updating vinelab/cdn dev-master (c92b281 => 802dfae)
    Checking out 802dfae072795bb812ef5fa2bdd658a259cb093a
    Pulling in changes:
      802dfae - Abed Halawi: any of 2.* or 3.* for symfony components should work
      3be5c0a - Abed Halawi: fix aws s3 provider tests by adding http co

[2016-06-29 07:32] Mulkave commented on #96
weird, the attempt to solve this was to add an `http` to the defaults as in here: https://github.com/Vinelab/cdn/blob/master/src/Vinelab/Cdn/Providers/AwsS3Provider.php#L52

which will be merged with the config later on so regardless of whether there's an `http` in the config or not it should be working: https://github.com/Vinelab/cdn/blob/master/src/Vinelab/Cdn/Providers/AwsS3Provider.php#L129

c

[2016-06-30 13:12] marcaube commented on #96
@Mulkave that's not quite how array_merge works with recursive arrays, e.g.

[code]

First-level elements of the first array will be replaced entirely by elements of the second array.

[2016-06-30 14:02] #96 closed

[2016-07-04 22:23] ludk17 opened #98 "cdn:empty clear all bucket"
I think it should be deleted only the public folder or an specific folder.

[2016-07-11 14:28] Mulkave commented on #98
A PR with that modification is most welcome 😄

[2016-08-08 00:08] chriscarter37 commented on #75
I cannot get any gzip to work.  Here is my code in the cdn.php config file.

`'metadata' => [
                    'Content-Encoding' => 'gzip'
                ],`

Any idea as to why this isn't working?

[2016-08-09 09:01] Mulkave commented on #75
@chriscarter37 can you please elaborate on the error you're getting? (if any)

[2016-09-09 21:01] texan1971 opened #99 "Miss configuration : region"
Hi,

I am seeing [vinelab\cdn\exception\missingconfigurationexception]
Missed configuration: region.

I saw that error when I tried to push : php artisan cdn:push
Also, when I tried to load the files from S3 via webpage.

Thanks.

[2016-10-05 08:45] audunru opened #100 "Error retrieving credentials from the instance profile metadata server"
php artisan cdn:push now throws an exception:

[Aws\Exception\CredentialsException]
Error retrieving credentials from the instance profile metadata server. (cURL error 28:  (see http://curl.haxx.se/libcurl/c/libcurl-errors.html))

My .env file looks like this:

AWS_ACCESS_KEY_ID=blabla
AWS_SECRET_ACCESS_KEY=blabla

To fix the exception, I had to create ~/.aws/credentials:

[default]
aws_access_key

[2016-10-27 12:55] timavo opened #102 "Create CloudFront Signed URLs for Private Distributions"
Hi,

Is there any way to create singed URLs like described in here? https://docs.aws.amazon.com/aws-sdk-php/v3/guide/service/cloudfront-signed-url.html

Would really appreciate that.

Thanks!

[2016-10-27 21:00] bubenkoff opened #103 "Add key prefix as a configuation option"
It's not uncommon to have single s3 bucket for multiple applications, connected to a single cloudfront domain, separated just by a key prefix, example:

[code]

ATM there's no easy way to implement this with this very nice package
thanks!

[2016-10-30 13:25] Mulkave commented on #103
@bubenkoff thanks for raising that point. Can you please suggest a suitable solution? I haven't faced that issue before so any details you can share are much appreciated!

[2016-10-30 13:53] Mulkave commented on #102
Interesting! Unfortunately at the moment you cannot do that. It would require implementation though should be easy once you have the URL of the asset at hand. Can you give it a shot and send a PR? I'd love to merge or collaborate on an implementation!

[2016-10-30 13:54] Mulkave commented on #99
can you please send all of the config from within your file? probably having at the wrong level of the array.

[2016-10-30 13:55] Mulkave commented on #98
Closed by https://github.com/Vinelab/cdn/pull/59 thanks to @olimorris

[2016-10-30 13:55] #98 closed

[2016-10-30 13:55] #25 closed

[2016-11-02 15:59] thtg88 commented on #103
I'm actually facing the same sort of problem on an S3/CloudFront environment as described by @bubenkoff , where I have just one bucket, hosting multiple apps' assets. At the moment I use just one app on the CDN, so I'm good having a public folder on the bucket's root directory, but this could potentially display the package issue if I decide to use the package on the other apps since, in a Laravel

[2016-11-15 17:22] shahriar1 opened #104 "upload without public directory"
I want to upload assets that exists in public directory but not the public directory itself. Is it possible by changing any config?

[2016-11-16 11:11] Mulkave commented on #103
@thtg88 Thanks for the details. I'm just afraid that would require too much config in the simple case where you only have one bucket per app. I always lean towards simplicity when it comes to config.

I was thinking whether `Bucket` in config can be `bucket-name/app1`, that should work IMO. Can you please give it a try?

[2016-11-16 11:14] Mulkave commented on #104
Yes, you can use a combination of `include` and `exclude` from the docs https://github.com/Vinelab/cdn#files--directories to choose specifically what you'd like to have uploaded. Also when configuring your buckets, you may specify that:

[code]

[2016-11-16 11:15] Mulkave commented on #100
If you are using the built-in PHP server (`php artisan serve` or `php -S ...`) you may need to restart the server for the changes in your `.env` to work.

[2016-11-16 11:18] thtg88 commented on #103
@Mulkave Forgot to mention I tried that, unfortunately it throws an exception as the forward-slash '/' character gets urlencoded. I'm not at my PC right now but I can provide the Exception details if needed.
thanks for your reply anyway

[2016-11-16 11:20] Mulkave commented on #103
@thtg88 sure some more details on the exception would help. I'm also not able to try that atm.

[2016-11-16 12:23] shahriar1 commented on #104
I tried changing those options but it does upload public directory itself too with the files under public directory. But I only want to upload inner contents of the public directory not the public directory itself.

[2016-11-16 12:36] Mulkave commented on #104
Have you tried excluding the public directory? For it's the default in the package.

[2016-11-16 14:42] shahriar1 commented on #104
Yes I tried.  It seems by default it pushes public directory when I run push command

[2016-11-19 14:45] thtg88 commented on #103
Hi @Mulkave , apologies for the delay. You can find the exception message below:
[code]
Should you need any other details, please let me know.
Thanks!

[2016-12-08 09:20] daniyalme opened #105 "Push newly updated files to cdn"
Hello,

I would like to push the newly uploaded uses data e.g. when a user changes his profile picture, i'd like to automatically push it to cdn otherwise it doesnt display's the image.

What shud be the recommended way?

Calling Artisan::call('cdn:push'); from controller after upload gives an error saying public folder not found

[2016-12-08 09:56] daniyalme commented on #105
Ok so mentioning the full path in the config file fixed the issue. This issue doesnt shows up when running the command from command line but only running artisan commands from within code.

[2016-12-08 09:56] #105 closed

[2016-12-08 18:20] andersonaragao opened #106 "push to multiple buckets"
how i do upload for multiple buckets? I tryed the example, but unsussesfull.

[code]
all files updated to first bucket.

[2017-01-10 09:21] maximkou commented on #103
@Mulkave, Very actual problem! Maybe I propose PR for this?

[2017-01-12 13:44] maximkou opened #107 "Hardcoded elixir build folder name"
Hi! Thank you for good tool!

I'm use this in one project and find one wrong moment: I do not change elixir versioning build folder name, because in https://github.com/Vinelab/cdn/blob/c8ef55322d0792373272ec6d9b6f8df55f5991cf/src/Vinelab/Cdn/CdnFacade.php#L95 is hardcoded.

Original `elixir` accept build dir name as argument, see https://github.com/laravel/framework/blob/5.3/src/Illuminate/Foundat

[2017-02-13 10:55] ejeanneaubc opened #111 "Error with push fopen(php://stderr): failed to open stream: operation failed"
Hi !

I have an error when in push with the console but not each times.

I upload on S3, a lot of files has been uploaded but i have this error :

[code]

And when i change in ConsoleOutput i can see this error when i launch push :

[code]

I use laravel 5.3 on PHP 5.6

Can you help me please ?

Thank's a lot !

Bye

[2017-02-16 08:28] ejeanneaubc commented on #111
Hi,

I have found the fix, if i can help anyone. I'am on OSX. I've type this command in Terminal which save my life :)

Enjoy !

[2017-02-16 08:28] #111 closed, assigned to nobody

[2017-02-16 13:52] marwanzak opened #112 "Handle one directory on bucket"
Hello,
How to handle just one directory on bucket, so every operation with push and empty would be on that directory only not on whole bucket?

[2017-02-28 14:31] martingg88 opened #113 "Failed to connect."
Any idea what cause the following issue?

Error executing "ListObjects" on "https://s3.s3-website-ap-southeast-1.amazonaws.com/dev-cg-storage?encoding-ty
  pe=url"; AWS HTTP error: cURL error 7: Failed to connect to s3.s3-website-ap-southeast-1.amazonaws.com port 443

Thank You.

[2017-04-06 18:38] uniring commented on #85
+1 for this feature, can someone take a look at @codenut implementation?

[2017-04-29 14:32] benswinburne commented on #104
I'm also having this issue. Can anyone post a working include/exclude example to make this work please?

[2017-05-11 15:13] frasmage opened #117 "Clear action deletes all files, not just included ones"
The clear action performs a blanked deletion of the entire contents S3 Bucket. Ideally it should follow the same include/exclude rules as the push option, so it doesn't delete other assets on the same bucket.

[2017-06-19 14:58] AdrianHL opened #119 "Files Already On Bucket - ListObjects limited to 1000 objects"
The listObjects function used when retrieving the files on the bucket (getFilesAlreadyOnBucket) limits the response to 1000 objects. Therefore if the bucket contains more than that amount of objects the function will return only 1000 objects instead of the whole list.

[2017-06-19 15:00] AdrianHL commented on #119
#120 Pull Request

[2017-06-19 17:59] linchpinstudios commented on #103
I'm currently running into this issue. It would be good to have this feature available. The main reason is we have different branches being staged that need different CDN assets.

[2017-08-05 09:50] kshitijpurwar opened #121 "Moving config to .env"
The CDN config such as region and bucketname should be moved to .env since it constitues sensitive info as well.

[2017-10-03 19:45] uselessscat commented on #121
You only have to put in your config the env variable, like this example:

     'region' => env('AWS_S3_REGION', 'us-west'),

[2017-10-05 07:47] kshitijpurwar commented on #121
@arie-cwhat  What you say is absolutely correct but it's not included the code by default which I suppose it should be because a newbie like me could just put all the sensitive info there and get my self screwed later on.
@Mulkave

[2017-10-06 12:44] uselessscat commented on #121
I understand :+1: it's terrible to rewrite the whole history of git just to delete a line of code.

[2018-01-29 19:54] SolStis86 opened #122 "Method Vinelab\Cdn\Commands\PushCommand::handle()"
Getting this error when using with update... has the fire method been removed in latest version?

[2020-06-20 22:24] anuragmaher commented on #112
Not yet implemented? Strange.